body {
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    color: darkslateblue;
    font-size: 75px;
}
.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    width: auto;
    border-bottom: 3pt solid darkslateblue;
    padding: 0px 100px;
    margin-bottom: 100px;
}
.main-content {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}
.main-content p {
    font-size: 25px;
    margin-left: 30px;
}